@import url('https://fonts.cdnfonts.com/css/ethnocentric');

@font-face {
  font-family: "Myriad Pro";
  src: url(http://www.anaveer.in/honda/font/MYRIADPRO-REGULAR.OTF) format("truetype");
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* img { width: 100%; max-width: 100%; } */

body {
  width: 100%;
  min-width: 1400px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow-x: hidden;
}

/* @media (max-width: 1400px){
  body {
    min-width: 959px;
  }
} */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

/*typography*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1,
h2 {
  font-family: 'Ethnocentric Rg', sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  padding: 10px 0;
}

h3 {
  font-family: 'Ethnocentric Rg', sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0;
}

p,
ul,
nav ul li a,
span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: .5px;
}

.to-sm {
  font-family: 'Poppins';
  font-size: 25px;
  letter-spacing: 3px;
}

/*BUTTON*/
.btn {
  position: relative;
  overflow: hidden;
  z-index: 999;
  display: block;
  text-align: center;
  padding: 18px 0;
  width: 250px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: #2626FF;
  color: #FFF;
  line-height: 1.2;
  -webkit-appearance: inherit;
  border-radius: 0 30px 0 30px;
  margin: 0;
}

.btn:hover {
  transition: background-color .8s ease-out;
  -o-transition: background-color .8s ease-out;
  -moz-transition: background-color .8s ease-out;
  -webkit-transition: background-color .8s ease-out;
  color: #fff;
  background: #0057FF;
}

/*FLEX*/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*SOCIAL*/
.socials a {
  font-size: 50px;
  line-height: 1.2;
  font-family: 'Icons Social Media 8';
  color: #fff !important;
}


/*-----------------------------------------------HEADER-----------------------------------------------*/
#header {}

#header .header-con {
  background: #2626FF;
  padding: 0 43px 0 108px;
  border-radius: 0 0 0 123px;
  z-index: 1;
  position: absolute;
  width: 100%;
  right: 0;
  align-items: center;
  /* flex-wrap: nowrap; */
}

#header .nav-holder {
  flex: 1 1 auto;
  width: 100%;
  max-width: 841px;
}

#header nav a#pull {
  display: none
}

#header nav {
  position: relative;
  z-index: 999;
  width: 841px;
}

#header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  /* padding: 31px 0; */
}

nav ul li a {
  font-size: 18px;
  font-family: 'Poppins';
  color: #fff;
  font-weight: 100;
  padding: 0 15px;
  line-height: 94px;
  display: block;
}

.dropdown .dropbtn {
  font-size: 18px;
  font-family: 'Poppins';
  color: #fff;
  font-weight: 100;
  padding: 0 15px;
  line-height: 94px;
  display: block;
}



#header nav ul li.active-menu a,
#header nav ul li a:hover {
  font-weight: 700;
  color: #2626FF;
  background: #fff;
}

#header nav ul li:hover>button {
  color: #2626FF;
  font-weight: 700;
}

#header .socials-con {
  align-items: center;
  padding: 14px 25px;
  flex-wrap: nowrap;
  gap: 5px;
  flex: 1 1 auto;
  width: 100%;
  max-width: 504px;
}

#header .socials-con .btn {
  background: #fff;
  color: #2626FF;
  margin-right: 20px;
  font-weight: 900;
}

#header .h-socials {
  gap: 12px;
  align-items: center;
  margin-top: 14px;
  flex-wrap: nowrap;
}


#header .dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  border: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #fff;
}

.dropdown:hover>.dropbtn {
  color: #2626FF;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 0.3s ease;
}

.dropdown-content a {
  float: none;
  color: inherit;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 66px;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.show {
  display: block;

}

@media screen and (max-width: 959px) {

  #header .row {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }

  #header .header-con {
    flex-direction: column;
    position: static;
  }

  #header nav {
    width: 100%;
    max-width: 959px;
  }

  #header nav ul {
    width: 100%;
    display: none;
    height: auto;
    border-bottom: 5px solid #000;
    padding: 0 15px;
  }

  #header .socials-con {
    width: 100%;
    flex-direction: column-reverse;
    max-width: 100%;
    padding: 0 0 10px;
  }

  #header .h-socials {
    gap: 31px;
  }

  #header nav ul li {
    width: 100%;
    position: relative;
    text-align: left;
  }

  #header nav ul li a,
  nav ul li a {
    padding: 10px 0;
    text-align: left;
    width: 100%;
    font-size: 15px;
    line-height: 27px;
  }

  #header nav ul li.active-menu a,
  #header nav ul li a:hover {
    font-weight: 700;
    color: #fff;
    background: none;
  }

  nav ul li a,
  .dropdown .dropbtn {
    line-height: 27px;
    font-size: 15px;
    padding: 5px 0px;
    text-align: left;
  }

  .dropdown-content a {
    margin-left: 17px;
    color: #fff;
  }

  #header nav ul li:hover>button {
    background-color: #2626FF;
    color: #fff;
  }


  #header nav a strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  #header nav a#pull {
    display: block;
    color: #fff;
    background-color: #1212da;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: relative;
  }

  #header nav a#pull:after {
    content: "";
    background: url('../images/nav-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .show {
    display: block;
    position: relative;
    background-color: #0f0fc2;
    transition: all 2s ease-in-out .5s;
    /* ADD TRANSITION HERE */
  }
}

/*-----------------------------------------------BANNER-----------------------------------------------*/
/* #banner {
  background: url('../images/common/banner.jpg')no-repeat right;
  -webkit-background-size: cover;
  background-size: cover;
} */

.inner #banner {
  min-height: 300px;
  height: auto;
  max-height: 420px;
}

.inner #banner .content-holder {
  display: none;
}

.inner #content {
  position: relative;
  background: #fff;
  padding: 80px 0;
  /* min-height: 500px; */
}

.inner #content .row {
  max-width: 1220px;
}

.inner #content #about,
.inner #content #testimonials,
.inner #content #contact {
  background-image: none;
  padding: 0;
  margin: 0;
}

.inner #content #testimonials {
  padding-top: 100px
}

.inner #testimonials .left,
.inner #about .left .wel-con {
  text-align: center;
}

.inner #testimonials .right {
  margin: auto;
  width: 100%;
}

.inner #testimonials .btn-next-slider {
  right: -6px;
}

.inner #about .abt-content,
.inner #testimonials .row {
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  flex-wrap: nowrap;
}

.inner #about .left,
.inner #testimonials .left {
  margin: auto;
  margin-bottom: 30px;
}



.inner #footer {
  background-color: #fff;
}

#banner {
  position: relative;
}

#banner .img-holder {
  position: relative;
}

#banner .img-holder img {
  width: 100%;
}

#banner .banner-con {
  position: absolute;
  display: block;
  width: 100%;
  text-align: left;
  color: #fff;
  top: 153px;
  left: 0;
}


#banner .logo-holder {
  margin: 0 109px 109px;
  width: auto;
  max-width: 466px;
  text-align: end;
}

#banner .logo-holder img {
  margin-bottom: -20px;
}

#banner .logo-holder span {
  font-size: 20px;
  text-align: end;
}

#banner .content-holder .row {
  width: 100%;
  max-width: 821px;
  margin: 0 76px;
}

#banner .to-sm {
  font-weight: 600;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#banner .btn-holder {
  margin-top: 58px;
  gap: 40px;
  display: flex;
}

@media screen and (max-width: 959px) {
  .nav-holder {
    min-height: 60px;
    width: 100%;
    min-width: 100%;
  }

  #banner .banner-con {
    text-align: center;
    position: relative;
    margin-top: -291px;
    top: 0;
  }

  #banner .img-holder img {
    height: 100%;
    width: 100%;
    max-height: 266px;
    object-fit: cover;
  }

  #banner .logo-holder {
    margin: 0 auto;
    width: 100%;
    max-width: 325px;
  }

  #banner .logo-holder img {
    max-width: 320px;
  }

  #banner .logo-holder span {
    font-size: 16px;
  }

  #banner .banner-con .content-holder {
    background: #ffff;
    color: #000;
    padding-top: 27px;
  }

  #banner .content-holder .row {
    max-width: 100%;
    margin: 0 auto;
  }

  #banner .to-sm {
    text-shadow: none;
  }

  #banner .btn-holder {
    margin-top: 10px;
    justify-content: center;
  }
}



/*-----------------------------------------------CONTENT-----------------------------------------------*/
/*WELCOME/ ABOUT*/
#about {
  background: url('../images/content/welcome-bg.png')no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top left;
  margin-top: -387px;
  padding-top: 144px;
  padding-bottom: 240px;
}

#about .abt-content {
  margin: auto;
  justify-content: center;
  gap: 69px;
  align-items: center;
  position: relative;
}

#about .left {
  width: 100%;
  max-width: 707px;
  text-align: start;
}

#about .btn-holder {
  margin-top: 37px;
  gap: 40px;
  display: flex;
}

#about .left .to-sm {
  color: #99B2FF;
}

#about h1,
#about .right h3 {
  color: #2626FF;
}

#about .content {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.7;
}

#about .right img {
  border-radius: 56px;
  max-width: 657px;
  width: 100%;
}

#about .right .to-sm {
  color: #fff;
  margin-right: 28px;
  font-weight: 100;
}

#about .phone {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 959px) {

  #about {
    margin: 0;
    padding-bottom: 0;
  }

  #about .btn-holder {
    justify-content: center;
  }

  #about .abt-content {
    gap: 38px;
  }

  #about .right .to-sm {
    color: initial;
  }

  #about .phone {
    display: block;
  }

  #about .content {
    font-size: 16px;
  }
}


/*SERVICES*/
#services {
  background: url(../images/content/services-bg.png)no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  margin-top: -202px;
  padding-top: 33px;
  color: #fff;
  padding-bottom: 329px;
}

#services .ser-con {
  display: inline-flex;
  gap: 25px;
  margin: auto;
}

#services .ser-con .box {
  padding: 46px 0;
  width: 277px;
  background: linear-gradient(to bottom, #2626FF, #000066);
  border-radius: 10px;
}

#services .label {
  font-size: 20px;
  font-family: 'Montserrat';
  color: #fff;
  font-weight: 500;
  margin-top: 20px;
}

#services .ser-con2 {
  margin: auto;
  gap: 64px;
  padding: 61px;
}

#services .right {
  margin-top: 36px;
}

#services .right ul {
  font-size: 40px;
  font-weight: bold;
  list-style: none;
  margin-left: 69px;
}


#services .btn-holder {
  text-align: left;
}

#services .btn {
  margin: 36px 0 0 auto;
}

@media screen and (max-width: 959px) {
  #services {
    background: none;
    margin: 0;
    padding: 0;
    color: inherit;
  }

  #services .ser-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #services .ser-con .box {
    flex-grow: 1;
    flex-basis: 277px;
    width: 100%;
    max-width: 277px;
  }

  #services .ser-con2 {
    padding: 30px 0;
    gap: 0;
  }

  #services .left .img-holder {
    display: none;
  }

  #services .right {
    margin: 0;
  }

  #services .right .text-left {
    text-align: center;
  }

  #services .right ul {
    font-size: 28px;
    text-align: left;
  }

  #services .right ul li img {
    width: 40px;
    filter: invert(100%);
  }

  #services .btn {
    margin: 20px auto;
  }
}



/*gallery*/
#gallery img {
  width: 32%;
  display: block;
  margin-bottom: 30px
}

#gallery p {
  color: #333333;
  padding: 15px 0 57px
}

/*testimonials*/
#testimonials {
  background: url('../images/content/testi-bg.png')no-repeat top;
  background-size: auto;
  background-position: left top;
  padding-top: 242px;
  padding-bottom: 108px;
  margin-bottom: -285px;
  margin-top: -320px;
}

#testimonials .row {
  justify-content: center;
  align-items: center;
  gap: 90px;
  position: relative;
  margin-top: -117px;
}

#testimonials .left {
  color: #2626FF;
  width: 100%;
  max-width: 560px;
}

#testimonials .left .btn-holder {
  margin-top: 49px;
  gap: 40px;
  display: flex;
}

#testimonials .right {
  width: 792px;
  padding: 92px;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#testimonials .remarks,
#testimonials .auth-loc {
  font-size: 18px;
}

#testimonials .remarks {
  font-style: italic;
}

#testimonials .read-more {
  padding: 63px 0;
}

#testimonials .read-more a {
  text-decoration: underline;
}

#testimonials .auth {
  font-size: 22px;
}

#testimonials .stars {
  color: #e3e300;
  font-size: 33px;
}

/* #testimonials .slick-prev, */
#testimonials .btn-prev-slider {
  /* left: -112px; */
  margin-left: -109px;
}

/* #testimonials .slick-next, */
#testimonials .btn-next-slider {
  /* right: -112px; */
  right: 67px;
}

.slick-prev::before,
.btn-prev-slider::before {
  content: '<';
}

.slick-next::before,
.btn-next-slider::before {
  content: '>';
}

.slick-prev::before,
.slick-next::before,
.btn-prev-slider::before,
.btn-next-slider::before {
  font-family: 'Poppins';
  font-size: 44px;
  color: #fff;
  line-height: 0.7;
  -webkit-font-smoothing: antialiased;
  height: 42px;
  display: flex;
  width: 42px;
  align-items: center;
  justify-content: center;
}

.slick-prev:hover:before {
  opacity: 1;
}

.slick-prev,
.slick-next,
.btn-prev-slider,
.btn-next-slider {
  display: block;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 42px;
  height: 42px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: #2626FF;
}

@media screen and (max-width: 959px) {
  #testimonials {
    margin: 0;
    padding: 35px 0;
    background-size: contain;
    width: 100%;
  }

  #testimonials .row {
    margin: 0;
    gap: 58px;
  }

  #testimonials .left {
    text-align: center;
  }

  #testimonials .remarks, #testimonials .auth-loc {
    font-size: 14px;
  }

  #testimonials .left .btn-holder {
    margin-top: 10px;
    justify-content: center;
  }

  #testimonials .right {
    padding: 50px;
    margin: 0 30px;
  }

  #testimonials .read-more {
    padding: 30px 0;
  }

  #testimonials .slick-prev,
  #testimonials .slick-next,
  #testimonials .btn-prev-slider,
  #testimonials .btn-next-slider {
    top: 65%;
  }

  #testimonials .btn-prev-slider {
    left: 17px;
    margin: 0;
  }

  #testimonials .btn-next-slider {
    right: 17px;
  }

  #testimonials .auth {
    font-size: 18px;
}

}


/* service areas */

#service-area {
  background: url('../images/content/ser-areas-bg.png')no-repeat top;
  background-size: cover;
  position: relative;
  color: #fff;
  padding-bottom: 54px;
}

#service-area .row {
  padding-top: 296px;
}

#service-area .ser-area-con {
  margin-bottom: 113px;
  margin-top: -2px;
}

#service-area .ser-area-con p {
  font-size: 20px;
  width: 100%;
  line-height: 1.5;
  max-width: 1115px;
  padding: 28px;
  margin: auto;
}


#service-area .phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

#service-area .phone a {
  font-size: 50px;
}

#service-area .to-sm {
  margin-right: 28px;
}

#service-area .works-slider {
  margin-top: 30px;
}

#service-area .slick-track {
  display: flex;
  gap: 20px;
}

#service-area .slick-slide {
  float: none;
}

#service-area .works .slick-prev {
  left: 0px;
  z-index: 1;
}

#service-area .works .slick-next {
  right: 0px;
}

#service-area .works img {
  border-radius: 30px;
  width: 100%;
  max-width: 502px;
}

@media screen and (max-width: 959px) {

  #service-area {
    background: none;
    color: inherit;
  }

  #service-area .row {
    padding-top: 25px;
  }

  #service-area .phone {
    display: block;
  }

  #service-area .phone a {
    font-size: 20px;
  }

  #service-area .phone {
    padding: 5px 10px;
  }

  #service-area .ser-area-con {
    margin-bottom: 15px;
  }

  #service-area .works-slider {
    margin-top: 5px;
  }

  #service-area .ser-area-con p {
    font-size: 16px;
  }



}


.bg-img {
  background: url('../images/content/bg-img.png')no-repeat top;
  background-size: auto;
  background-position: left top;
  padding: 365px;
  margin: -350px 0px;
}

/*CONTACT*/
#footer .contact {
  position: relative;
  width: 871px;
  padding: 42px 73px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.1);
}

#footer .contact .ctc-form label {
  width: 32%
}

#footer .contact .title {
  font-family: 'Poppins';
  font-size: 55px;
  font-weight: 700;
}

#footer .contact p {
  font-family: 'Myriad Pro';
  font-size: 15px;
  width: 100%;
  font-weight: 100;
  color: #666666;
  max-width: 540px;
}

#footer .contact .flex {
  align-items: flex-end;
}


form .messages p {
  display: none;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

form .loading {
  display: none;
}

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.ctc-form {
  margin: 0 auto;
  text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #202020;
  height: 60px;
  display: block;
  width: 100%;
  border: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0 auto 8px;
  resize: none;
  background: #EEEEEE;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.ctc-form ::placeholder,
.ctc-form label {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: #666666;
  line-height: 1.8;
  letter-spacing: .03px;

}

.ctc-form ::placeholder {
  color: #545454
}

.ctc-form textarea {
  height: 150px;
  padding-top: 10px;
}

.ctc-form .checkbox {
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.ctc-form button {
  display: block;
  border: none;
  border-radius: 50px;
  font-family: 'Montserrat';
  font-size: 18px;
  letter-spacing: .8px;
  z-index: 0;

}

.ctc-form .recap {
  display: inline-block;
}

.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
  display: none;
}

#footer .left .logo-holder {
  text-align: right;
}

#footer .logo-holder .logo img {
  height: auto;
  width: 100%;
  max-width: 453px;
  margin-bottom: -23px;
}

#footer .logo-holder span {
  color: #fff;
  font-size: 20px;
  margin: 0;
}

#footer .left .info .content {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

#footer .left .text-left {
  margin-left: 20px;
  color: #fff;
}

#footer .left .label {
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 600;
}

#footer .left a {
  font-size: 18px;
  font-family: 'Montserrat';
}

#footer .left .phone a {
  font-size: 24px;
  font-weight: 600;
}

#footer .socials {
  margin-left: 27px;

}

#footer .socials img {
  width: 50px;
  height: auto;
  margin-left: 3px;
}


/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer {
  background: url('../images/content/footter-bg.png')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

#footer .row {
  display: flex;
  justify-content: center;
  gap: 81px;
  align-items: end;
}

#footer nav {
  padding: 37px 0 27px;
}


#footer nav ul li a {
  font-weight: 600;
}

#footer nav ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
}

#footer nav ul li a {
  text-align: center;
}

#footer nav ul li a:hover {
  font-weight: 600;
  color: #2626FF;
  background: none;
}


.dropup {
  overflow: hidden;
}

.dropup .dropupbtn {
  font-size: 16px;
  outline: none;
  color: white;
  background-color: inherit;
  margin: 0;
  border: none;

}


.dropup-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  bottom: 170px;
}

#footer .dropup-content a {
  float: none;
  color: black;
  line-height: 66px;
  padding: 0 17px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropup-content a:hover {
  background-color: #fff;
}

.dropup:hover .dropup-content {
  display: block;
}



#footer .copyrights p {
  color: #fff;
  font-weight: 100;
  font-size: 18px;
}

.techno img {
  width: 52px;
  margin: 0 5px -14px;
}

@media screen and (max-width: 959px) {
  #footer {
    background: url('../images/content/footter-bg.png') no-repeat top;
    background-size: cover;
    position: relative;
    padding: 30px 20px;
  }

  #footer .row {
    flex-direction: column;
    gap: 20px;
  }

  #footer .contact,
  #footer .left {
    width: 100%;
    text-align: center;
  }

  #footer .contact .title {
    font-size: 36px;
  }

  #footer .contact,
  #footer .left .logo-holder,
  #footer .left .info,
  #footer .socials,
  #footer nav {
    margin: 0;
  }

  #footer .left .info {
    width: 100%;
    max-width: 380px;
    margin: auto;
  }

  #footer .contact,
  #footer .left {
    padding: 20px;
  }

  #footer .left .logo-holder {
    /* text-align: center; */
    max-width: 466px;
    margin: 0 auto;
  }

  #footer .left a {
    font-size: 15px;
    word-break: break-all;
  }


  #footer nav {
    padding: 15px 0;
    width: 100%;
    max-width: 352px;
    margin: 0 auto;
  }

  #footer nav ul {
    text-align: center;
  }

  #footer nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  #footer .dropup-content {
    position: static;
  }

  #footer .dropup-content a {
    text-align: center;
    padding: 0;
  }

  #footer .copyrights,
  #footer .techno {
    text-align: center;
  }

  .techno img {
    width: 40px;
    margin: 0 5px -10px;
  }
}



/*---------------------------------------inner pages-------------------------------------------*/
/* .inner #content {
  min-height: 400px;
  padding: 40px 0;
  max-width: 800px;
  margin: 0 auto
} */

.inner #content h1 {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}


/*inner gallery*/
.img-responsive {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

#content .gallery-container {
  text-align: center;
}

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content .gallery li {
  display: inline-block;
}

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
  transform: scale(1.02);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.inner #content .gallery-container {
  margin-bottom: 20px
}




/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify !important;
}



/*RESPONSIVE*/
@media screen and (max-width: 1600px) {
  #about {
    margin-top: -299px;
  }
}


@media screen and (max-width: 1520px) {
  #about {
    margin-top: -304px;
    padding-top: 264px;
  }
}

@media screen and (max-width: 1495px) {
  #banner .banner-con {
    padding-top: 47px;
  }

  #header .header-con {
    justify-content: center;
    border-radius: 0;
  }
}


/*1200*/
@media screen and (max-width: 1440px) {

  #about {
    margin-top: 0;
    padding-top: 0;
    background: none;
  }
}

@media screen and (max-width: 1200px) {
  body {
    min-width: 320px
  }

  #banner .banner-con {
    padding-top: 50px;
  }

  #banner .logo-holder {
    margin-bottom: 22px;
  }


  #about {
    margin-top: 108px;
  }

  .inner #about .abt-content,
  .inner #testimonials .row {
    display: block;
    width: 100%;
  }
}


@media screen and (max-width: 1123px) {
  #about {
    margin-top: 153px;
  }
}

@media screen and (max-width: 1040px) {
  #about {
    margin-top: 193px;
  }
}

/*1024*/

/*960*/
@media screen and (max-width: 1023px) {
  #about {
    margin-top: 207px;
  }
}

/*768*/
@media screen and (max-width: 959px) {

  h1 {
    font-size: 32px;
  }

  .to-sm {
    font-size: 16px;
  }

  .btn {
    padding: 15px 0;
    width: 220px;
    font-size: 16px;
  }

  .bg-img {
    display: none;
  }

  #about {
    margin-top: 40px;
  }

  .inner #banner {
    min-height: auto;
  }
  
  .inner #content {
    padding: 20px 0;
  }

}


/*425*/
@media screen and (max-width: 766px) {}


/*375*/
@media screen and (max-width: 424px) {}

/*320*/
@media screen and (max-width: 374px) {}